<main>
  <section class="galaxy__header">
    <div class="galaxy__header-planet">
      <p>Select 4 planets to search</p>
      <h2>Planets Selected : {{planetSelectedCount}} / 4 </h2>
    </div>
    <div *ngIf="planetSelectedCount === 4" class="galaxy__header-vehicle">
      <p>Select the vehicle to respective planets by dragging and dropping</p>
      <h2>Vehicles Selected : {{planetAssignedVehicles}} / 4</h2>
    </div>
  </section>

  <section class="galaxy__planetsArea">
    <section class="galaxy__planetsArea__circle-container">
      <section class="galaxy__planetsArea__circle-container__time">
        <p>Time taken</p>
        <p>{{timeToTravel}} hrs</p>
      </section>
      <div *ngFor="let planet of planets" class="galaxy__planetsArea__planetsSection-planet"
           (click)="selectThisPlanet(planet)" [ngClass]="{'isSelected' : planet.isSelected}"
           (drop)="connectVehicleToPlanet($event, planet)" (dragover)="allowDrop($event)">
        <img [attr.src]="'assets/icons/' + planet.name.toLowerCase() + '.PNG'"/>
        <img *ngIf="planet.assignedVehicle" class="chosenVehicle"
             [attr.src]="'assets/icons/' + planet.assignedVehicle.name.toLowerCase() + '_new.PNG'">
      </div>
    </section>
  </section>

  <section *ngIf="planetSelectedCount === 4" class="galaxy__vehiclesArea">
    <section class="galaxy__vehiclesArea__vehiclesSection">
      <div *ngFor="let vehicle of vehicles" class="galaxy__vehiclesArea__vehiclesSection-vehicle"
           [ngClass]="{'notAvailable' : !vehicle.isAvailable}">

        <img [attr.src]="'assets/icons/' + vehicle.name.toLowerCase() + '_new.PNG'"
             [attr.draggable]="true" (dragstart)="dragVehicle($event, vehicle)"
             (dragend)="markVehicleForSelection($event, vehicle)" alt="test"/>
        <div class="galaxy__vehiclesArea__vehiclesSection-vehicle-details">
          <span class="galaxy__vehiclesArea__vehiclesSection-vehicle-name">{{vehicle.name}}</span>
          <div class="galaxy__vehiclesArea__vehiclesSection-vehicle-sub">Max Distance - {{vehicle.max_distance}}<br/>
            Speed - {{vehicle.speed}} megamiles/hr
          </div>
        </div>
        <svg *ngIf="!vehicle.isAvailable" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
                  cy="65.1" r="62.1"/>
          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                    stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </svg>

      </div>
    </section>
    <input *ngIf="planetSelectedCount === 4 && planetAssignedVehicles === 4"
           class="galaxy__vehiclesArea__vehiclesSection__button" type="button" value="Find Falcone"
           (click)="findFalcone()">
  </section>
</main>
