@import "resource/variable";
@import "resource/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  body {
    @include box-model(100vw, 100vw, 100%, 100vh !important, 100%, 100%, 0, 0 auto, none);
    scroll-behavior: smooth;
    background-color: $pc-background-color;
    font-size: $pc-base-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    overflow: hidden;
    input::placeholder {
      opacity: 1;
    }
    img, i {
      user-select: none;
    }

    router-outlet {
      display: none !important;
    }

    table {
      border-spacing: 0;
      margin: 0;

      th {
        text-align: left;
      }
    }

    @include scroll-bar();

    label, p, ul, li, div, h1, h2, h3, h4, h5, h6 {
      padding: 0;
      margin: 0;
    }

    ul li {
      list-style: none;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    input {
      font-family: $pc-font-family;
      &::-webkit-input-placeholder {
        font-family: $pc-font-family
      }

      &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
      }
    }
  }
}
